html, body{
    margin: 0;
    padding: 0;
}

#rotation {
    position: absolute;
    top: calc(50% - 150px);
    left: calc(50% - 250px);
    width: 300px;
    height: 300px;
}

.square {
    position: relative;
    width: 300px;
    height: 300px;
    background: red;
}
.square::after {
    content: "";
    display: block;
    position: absolute;
    box-sizing: border-box;
    border-radius: 5px;
    top: 5px;
    left: 5px;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    border: dashed 5px white;
}
.square:hover {
    background: blue;
    animation: rotation 2s ease 0s 1 alternate forwards;
}
.square div{
    position: absolute;
    background-color: white;
    top: calc(50% - 7.5px);
    width: calc(100% - 120px);
    left: 60px;
    height: 15px;
    border-radius: 5px;
}
.square div:nth-child(1) {
    transform: translateY(-60px);
}
.square div:nth-child(3) {
    transform: translateY(60px);
}


@keyframes rotation {
    0% { transform: scale(1);}
    /* 50% { transform: scale(.6) rotate(-45deg); } */
    100% { transform: scale(1) rotate(360deg); } 
}